<?xml version="1.0"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<!-- NOTES


  END NOTES.
  -->

<web-app>

	<!-- ___________________  CHAT HOUSE SERVLET  __________________ -->
	<!-- ________________________________________________________ -->

	<servlet>

		<servlet-name>ChatHouse</servlet-name>
		<display-name>Chat House</display-name>
		<description>
			Chat House pure HTML chat solution.
		</description>
		<servlet-class>rogatkin.chatservlet.ChatServlet</servlet-class>

		<init-param>
			<param-name>properties</param-name>
			<param-value>conf/chatservlet.properties</param-value>
		</init-param>
		<load-on-startup>5</load-on-startup>


	</servlet>

	<servlet-mapping>
			<servlet-name>ChatHouse</servlet-name>
			<url-pattern>/chat*</url-pattern>
	</servlet-mapping>

</web-app> 
           