<!-- $Id: cert.htm,v 1.1 2006/05/10 06:17:34 rogatkin Exp $ -->
<div id="certificate" class="smallHeader">
@label.certificate@
</div>
  <table>
    <tr valign="top">
      <td><div>@label.create@</div></td>
      <td><div onclick="document.getElementById('upload_cert').style.display=''">@label.add@</div>
          <div id="upload_cert" style="display:none"><input type="file" name="addcert"></div><div></td>
      <td><div>@label.delete@</div></td>
      <td><div>@label.apply@</div></td>
    </tr>
  </table>
  <table>
    <tr>
      <th>X</th>
      <th>@label.public@</th>
    </tr>
  </table>

