<table border=0 width="100%">
  <tr>
    <td>
     <div align="center">
	<a class="lc" target="_blank" href="/addressbook/termofuse.htm">Terms of Use</a> -
	<a class="lc" target="_blank" href="#">Privacy Policy</a> -
	<a class="lc" target="_blank" href="/addressbook/policies.htm">Program Policies</a> -
	<a id="rogatkin" class="lc" target="_blank" href="http://7bee.j2ee.us/">Rogatkin's&nbsp;Home</a>
     </div>
    </td>
    <td>
     <div align="right">
        @secure{
           @secure(<img src="@contextpath@/image/secure_lock.gif" border="0">)@
        }@
     </div>
    </td>
  </tr>
</table>
<div align="center" style="font-family: Arial; color: #808080; font-size: 8pt">
jAddressBook Copyright &copy; 2005-2008 Dmitriy Rogatkin
</div>