<html>
<!-- $Id: login.htm,v 1.7 2006/09/20 07:30:18 rogatkin Exp $  -->
<link rel="stylesheet" href="/addressbook/styles.css" type="text/css" media="all"/>
<div id="error">@error@</div>
<form name="login" action="/addressbook@servletpath@/@servlet@" method="post" enctype="multipart/form-data">
<div class="smallHeader">@label.header@</div>
<div class="label">@label.name@<div class="form-field"><input type="text" name="name" value="@name@"></div></div>
<div class="label">@label.pass@<div class="form-field"><input type="password" name="password"></div></div>
<div class="label">@label.secret_key@<div class="form-field"><input type="file" name="skey"></div></div>

<div id="submit" onClick="login.elements['submit.x'].disabled = false;document.login.submit()">
<span class="b-button"><span class="b-button-mid">@label.go@</span><span class="b-button-invisible"></span></span>
</div>
<input type="image" src="/addressbook/image/dot.gif" style="border:0" name="submit" value="1" width=1 height=1 border=0 alt="">
<input disabled type="hidden" name="submit.x" value="1">
</form>
<div>Not a member yet? Please <a href="Registry">sign on</a>, it's free.</div>
<p><p><p><p><p><p>
@%'footer.htm'@

</html>