<div id=quickview style="display:none; position: absolute; top: 2px; right: 2px; color: #656565; border: 1px solid #656565; font-weight: bold; background-color: #ffffff; padding: 4 20 4 20px;">
  <span id="close"><a href=# onClick="return ie7dsc()" 
      onmousedown="return clk(this.href,'pro','hppwebie7ds:en_extra','')">
   <font size=-2>close</font></a></span>
   <img src="/images/arrow.gif" width=36 height=27 border=0>
@name@

@phone(
)@

@email(
)@

@link(
)@
  <br><input name="do something stupid" type="button" value="do something stupid" style="width: 14em;" onClick="document.location='http://www.google.com/options/setie7defaultsearch.exe'">
</div>
