<html>
<!-- $Id: settingsview.htm,v 1.8 2007/12/12 06:59:17 dmitriy Exp $ 
  TODO: split tabs content to includes
  -->
<link rel="stylesheet" href="/addressbook/styles.css" type="text/css" media="all"/>
<script src="/addressbook/ajaxhelper.js" language="Javascript"></script>
<script src="/addressbook/common.js" language="Javascript"></script>
<script>
// <!--
function validate() {
  document.settings.submit();
}

function genKeys() {
  makeIFrameAjaxCall("/addressbook@servletpath@/@servlet@/ajax/Gen",
     function (status) {
       if (status == 'Ok') {
         getElement('secret_key').innerHTML='<a href="/addressbook@servletpath@/Keyret">@label.secret@</a>';
       } else
       	getElement('secret_key').innerHTML=status;
     });
}

function uplKeys() {
   makeIFrameAjaxSubmit('/addressbook@servletpath@/@servlet@/ajax/Upl', document.forms.keyupload, null, 
     function (status) {
         getElement('msg').innerHTML=status;
     }, null, 'fileupload');
}

function aplKeys() {
  makeIFrameAjaxCall("/addressbook@servletpath@/@servlet@/ajax/Apl",
     function (status) {
         getElement('msg').innerHTML=status;
     });

}

function clrKeys() {
  makeIFrameAjaxCall("/addressbook@servletpath@/@servlet@/ajax/Clr",
     function (status) {
       if (status == 'Ok') {
         getElement('secret_key').innerHTML='&nbsp;';
       }
     });
}

// -->
</script> 
 @%'header.htm'@

main | tab | ui | cert | log

<!-- include UI -->
@%'uisets.htm'@

<form name="settings">
<div id="main_tab">
<div id="main" class="smallHeader">
@label.main@</div>
<div><input type="checkbox" value="1" name="bypasslogin" @bypasslogin@>@label.bypasslogin@</div>
</div>
<input type="hidden" name="submit.x" value=1>
</form>

<div id="secure_tab">
  <iframe name="fileupload" id="fileupload" src="#" height="0px" width="0px" border="0" style="width:0px;height:0px;border:0px"></iframe>

<!-- TODO pull in a separate insert 'keys.htm' -->
<div id="secure" class="smallHeader">
@label.security@</div>

<form name="keyupload" action="/addressbook@servletpath@/@servlet@/ajax/Upl" method="post" enctype="multipart/form-data">
<div>@label.secret_key@</div>
   <table border=0>
     <tr>
       <td><input type="file" name="skey"></td>
       <td><div class="b-button-g" onClick="uplKeys()">@label.upload@</div></td>
     </tr>
   </table>
</form>
   <table border="0">
     <tr>
       <td colspan="3"><div id="msg" name="msg">&nbsp;</div></td>
     </tr>
     <tr>   
       <td><div class="b-button-g" onClick="genKeys()">@label.create@</div></td>
       <td><div class="b-button-g" onClick="clrKeys()">@label.clear@</div></td>
       <td><div class="b-button-g" onClick="aplKeys()">@commonlabel.apply@</div></td>
     </tr>
     <tr>
       <td colspan="2">@label.download@</td>
       <td><div id="secret_key" name="secret_key">&nbsp;</div></td>
     </tr>
   </table>
</div>


<table border="0" cellspacing="20">
<tr>
  <td>
	<div style="cursor: pointer" onclick="validate()">[@commonlabel.ok@]</div>
  </td>
  <td>
	<div style="cursor: pointer" onclick="if (history) history.back(); else document.location='@back@';">[@commonlabel.cancel@]</div>
  </td>
</tr>
</table>
<p>
@%'footer.htm'@
</html>
