<?xml version="1.0" encoding="utf-8"?>
<!--DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.4//EN"
    "http://java.sun.com/dtd/web-app_2_4.dtd"-->

<web-app>

    <context-param>
       <param-name>poll_url</param-name>
       <param-value>/WEB-INF/resource/tjws-feature-poll.xml</param-value>
       <description>Defines poll definition XML file location</description>
    </context-param>
    <context-param>
       <param-name>poll_result_file</param-name>
       <param-value>./poll_tjws_result.xml</param-value>
       <description>Defines poll result XML file location</description>
    </context-param>

  <servlet>
    <servlet-name>Poll</servlet-name>
    <servlet-class>org.aldan3.servlet.Main</servlet-class>
    <init-param>
        <param-name>properties</param-name>
        <param-value>/WEB-INF/config.properties</param-value>
    </init-param>
  </servlet> 

  <servlet-mapping>
    <servlet-name>Poll</servlet-name>
    <url-pattern>/poll-tjws/*</url-pattern>
  </servlet-mapping>

    <listener>
	<listener-class>javaarchitect.servlet.examples.poll.PollModel</listener-class>
    </listener>

</web-app>