<html>
<head>
  <link rel="stylesheet" href="@contextpath@/css/styles.css" type="text/css" media="all"/>
  <script src="@contextpath@/js/ajaxhelper.js" language="Javascript"></script>
  <script src="@contextpath@/js/common.js" language="Javascript"></script>
  <script src="@contextpath@/js/rmenu.js" language="Javascript"></script>
  <script>
    function openMenu() {
      return showmenu(rightmenu1);
    }
    function closeMenu() {
      hidemenu(rightmenu1);
    }
    function sync() {
       parent.doCommand('read');
       
    }
    function showList(type,name) {
//alert('Url:'+
        top.frames["mainviewframe"].document.location.href = 'List?type='+type+'&name='+name;
    }
  </script>
</head>
<body>
<div id="rightmenu1" class="rightmenu_s2" onMouseover="highlight()" onMouseout="lowlight()" onClick="jumpto();">
  @menu(
    <div class="rightmenuitems" url="@url@">@label@</div>
    <hr>
  )@
</div>
<script language="JavaScript1.2">
  if (document.all && window.print) {
    rightmenu1.className = menuskin;
  document.oncontextmenu = openMenu;
  document.body.onclick = closeMenu;
}
</script>

@treeviewxumster(
  <div @mark{@_mark(style="background-color:white")@}@>
      <table cellspacing=0 cellpadding=0 border=0 >
         <tr>
            @treeline(
                  @rootnode(
                    <td title="root"><img src='@treeimages@/space.gif' border=0 width=16 height=18></td>
                    <td>
                       <a href='@page@?nodeid=@:nodeid@@state(&state=@:state@)@&tree=folder&@parameters@'>
                          <img src='@treeimages@/xumster.gif'
                          border=0 width=16 height=16></a></td>
                    <td>
                       <img src='@treeimages@/space.gif' border=0 width=3 height=10></td>
                    <td>                       
                       <img src='@treeimages@/space.gif' border=0 width=3 height=10><b>@name@</b>
                       <img src='@treeimages@/space.gif' border=0 width=3 height=10></td>
                  )@
                  @opennode(
                    <td>
                       <a href='@page@?nodeid=@nodeid@@state(&state=@:state@)@&tree=folder&@parameters@'>
                          <img src='@treeimages@/minus@vpos@.gif' 
                          border=0 width=16 height=16></a></td> <!-- _first, _notlast, _last -->
                    <td>
                       <a href='@page@?nodeid=@nodeid@@state(&state=@:state@)@&tree=folder&@parameters@'>
                          <img src='@treeimages@/@spec@_o.gif'
                          border=0 width=16 height=16></a></td>
                    <td>
                       <img src='@treeimages@/space.gif' border=0 width=3 height=10></td>
                    <td nowrap>
                       <a href='@page@?nodeid=@nodeid@@state(&state=@:state@)@&tree=folder&@parameters@@.link@'>
                       <img src='@treeimages@/space.gif' border=0 width=3 height=10>@mark{@_mark(<b>)@}@@name@@mark{@_mark(</b>)@}@</a>
                       <img src='@treeimages@/space.gif' border=0 width=3 height=10></td>
                  )@
                  @shiftlevel(
                       <td><img src='@treeimages@/@vpos@.gif' border=0 width=16 height=16></td>
                  )@
                  @element(
                       <td><img src='@treeimages@/line@vpos@.gif' border=0 width=16 height=16></td>
                         <!-- _first, _notlast, _last -->
                       <td><a href='@page@?nodeid=@:nodeid@@state(&state=@:state@)@&tree=folder&@parameters@'>
                         <img src='@treeimages@/@spec@.gif' border=0 width=16 height=16></a></td>
                       <td><img src='@treeimages@/space.gif' border=0 width=3 height=10></td>
                       <td nowrap>
                           <a href="javascript:{}" onclick="@.link@">
                           <img src='@treeimages@/space.gif' border=0 width=3 height=10>@mark{@_mark(<b>)@}@@name@@mark{@_mark(</b>)@}@</a>
                           <img src='@treeimages@/space.gif' border=0 width=3 height=10></td>
                  )@
                  @closenode(
                    <td>
                       <a href='@page@?nodeid=@nodeid@@state(&state=@:state@)@&tree=folder&@parameters@'>
                          <img src='@treeimages@/plus@vpos@.gif' 
                          border=0 width=16 height=16></a></td> <!-- _first, _notlast, _last -->
                    <td>
                       <a href='@page@?nodeid=@nodeid@@state(&state=@:state@)@&tree=folder&@parameters@'>
                          <img src='@treeimages@/@spec@.gif'
                          border=0 width=16 height=16></a></td>
                    <td>
                       <img src='@treeimages@/space.gif' border=0 width=3 height=10></td>
                    <td nowrap>
                       <a href='@page@?nodeid=@nodeid@@state(&state=@:state@)@&tree=folder&@parameters@@.link@'>
                       <img src='@treeimages@/space.gif' border=0 width=3 height=10>@mark{@_mark(<b>)@}@@name@@mark{@_mark(</b>)@}@</a>
                       <img src='@treeimages@/space.gif' border=0 width=3 height=10></td>
                  )@
            )@
         </tr>
      </table>
   </div>
)@
</body>
</html>